body {
   margin: 0;
   padding: 0;

   font-family: "Cuprum", "Arial", sans-serif;
   font-size: 14px;
   line-height: 24px;
   font-weight: 400;
   color: #000000;

   background-color: #ffffff;
   background-position: top center;
}

a {
   text-decoration: none;
}

.header {
   font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;

   background-color: #f3f7f9;
}

.header-container:hover {
	background-color: #212a3a;
}
.header-container:focus,
.header-container:active {
	background-color: #161d29;
}

.header-container {
   font-size: 17px;
   line-height: 18px;

   background-color: #293449;
   color: #ffffff;
}

.header-logo {
	background-color: #ee3643;
}

.header-logo:hover
.header-logo:focus {
	background-color: #ca2c37;
}

.header-logo:active {
	background-color: #ba2732;
}

.header-search input[type="search"] {
	background-color: #293449;
	border: 0;
}

.header-search ::-webkit-input-placeholder {
	color:#ffffff;
}

.header-search ::-moz-placeholder {
	color:#ffffff;
}

.header-search :-moz-placeholder {
	color:#ffffff;
}

.header-search :-ms-input-placeholder {
	color:#ffffff;
}

.header-container a {
   color: #ffffff;
}

.header-order {
	background-color: #63a63e;
}

.header-order:hover
.header-order:focus {
	background-color: #5fbb2d;
}

.header-order:active {
	background-color: #518534;
}

.header-title {
   font-family: "Cuprum", "Arial", sans-serif;
   font-style: italic;
   font-size: 16px;
   line-height: 23px;
  
   color: #ee3643;
}

.header-address {
   font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   font-size: 14px;
   line-height: 24px;

   color: #32425c;
  
   text-align: center;
}

.header-address a {
   font-size: 21px;
   line-height: 21px;

   color: #ee3643;
}

.user-login {
   font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   font-size: 21px;
   line-height: 21px;
	
	background-color: #ffffff;
   color: #000000;
}

.user-login:hover,
.user-login:focus {
	color: #ee3643;
}

.user-registration:hover
.user-registration:focus {
	color: #ee3643;
}

.user-login:active,
.user-registration:active {
	color: #000000;
	opacity: 0.3;
}

.user-registration {
   font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   font-size: 21px;
   line-height: 21px;
	
	background-color: #ffffff;
   color: #000000;
}  

.header-nav {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   font-size: 17px;
   line-height: 17px;

   background-color: #32425c;

}

.header-nav a {
	color: #ffffff;
}
  
.header-nav-site {
	list-style: none;
}

.header-nav-item:hover
.header-nav-item:focus {
	background-color: #293449;

}

.header-nav-item:active {
	color: #a8abaf;
	background-color: #1d2739;
}

.product-services-list {
	list-style: none;
}

.product-services-list p {
	font-family: "Cuprum", "Arial", sans-serif;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;

	color: #ffffff;
}

.item-paint {
	background-color: #ffbf47;
}

.item-tool {
	background-color: #3bbce3;
}

.item-tractor {
	background-color: #dc91d8;
}

.item-cart {
	background-color: #8ed78f;
}

.item-car {
	background-color: #ffc047;
}

.button-product-services {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   font-size: 14px;
   line-height: 18px;

   color: #ffffff;
   background-color: rgba(0, 0, 0, 0.1);
}

.button-product-services:hover,
.button-product-services:focus {
	background-color: rgba(0, 0, 0, 0.2);
}

.button-product-services:active {
	background-color: rgb(0, 0, 0, 0.3);
}

.button-slider-catalog {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
	font-size: 14px;
   line-height: 18px;
	
	color: #ffffff;
	background-color: #ee3643;
}

.button-slider-catalog:hover {
	background-color: #ca2c37;
}

.button-slider-catalog:active {
	background-color: #ba2732;
}

.popular-product-box {
	background-color: #f9f5f0;
}

.popular-product-box h2 {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   font-size: 30px;
	line-height: 30px;

	color: #32425c;
}

.button-popular-product {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   font-size: 13px;
	line-height: 24px;

	color: #ffffff;
	background-color: #ee3643;
}

.button-popular-product:hover
.button-popular-product:focus {
	background-color: #ca2c37;
}

.button-popular-product:active {
	background-color: #ba2732;
}

.popular-manufacturer-box {
	background-color: #f9f5f0;
}

.popular-manufacturer-box h2 {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   font-size: 30px;
	line-height: 30px;

	color: #32425c;
}

.manufacturer-list {
	list-style: none;
}

.button-popular-manufacturer {
	font-family: "Cuprum", "Arial", sans-serif;
	font-style: normal;
   font-size: 13px;
	line-height: 24px;

	color: #ffffff;
	background-color: #ee3643
}

.button-popular-manufacturer:hover,
.button-popular-manufacturer:focus {
	background-color: #ca2c37;
}

.button-popular-manufacturer:active {
	background-color: #ba2732;
}

.services {
	background-color: #f4f8fa;
}

.services p {
	font-family: "Pt Sans", "Arial", sans-serif;
	font-style: normal;
	font-size: 13px;
	line-height: 24px;
}

.services-heading {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   font-size: 30px;
	line-height: 30px;
}

.services ul {
	list-style-type: none;
}

.services button {
	font-family: "Cuprum", "Arial", sans-serif;
	font-weight: bold;
	font-size: 21px;
	line-height: 30px;

	background-color: #32425c;
	color: #ffffff;

	border: 0;
}

.services button:hover,
.services button:focus {
	background-color: #293449;
	outline: none;
}

.services button:active {
	background-color: #ffffff;
	color: #32425c;
	outline: none;
}

.about-company {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
}

.company-name {
	text-transform: uppercase;
	font-size: 30px;
   line-height: 30px;
}

.about-company p {
	font-family: "Pt Sans", "Arial", sans-serif;
	font-style: normal;
	font-size: 13px;
	line-height: 24px;
}

.transport-companies {
	font-size: 18px;
	line-height: 20px;
}

.transport-companies li {
	list-style-type: none;
}

.transport-companies li:before {
	color: red;
	content: "—";
	padding-right: 11px;
}

.about-company a {
	text-transform: uppercase;
	font-size: 14px;
   line-height: 18px;
   
   color: #ffffff;
	background-color: #ee3643;
}

.contact-heading {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   text-transform: uppercase;
	font-size: 30px;
   line-height: 30px;
}

.contact p {
	font-family: "Pt Sans", "Arial", sans-serif;
	font-style: normal;
	font-size: 13px;
	line-height: 24px;
}

.contact-letter {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
	text-transform: uppercase;
	font-size: 14px;
   line-height: 18px;
   
   color: #ffffff;
	background-color: #ee3643
}

.footer-nav {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;

   color: #ffffff;
   background-color: #32425c;
}	

.footer-nav li {
	list-style: none;	
}

.footer-nav-first a {
	font-size: 18px;
   line-height: 24px;

	color: #ffffff;
}

.footer-nav-first-item:hover,
.footer-nav-first-item:focus {
	text-decoration: underline;
	text-underline-position: under; 
}

.footer-nav-first-item:active {
	text-decoration: none;
	color: #929caa;
}

.bottom-address {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   font-size: 18px;
   line-height: 24px;
}

.bottom-address a {
	color: #ffffff;
}

.footer-nav-next a {
	font-size: 18px;
   line-height: 24px;

   color: #ffd180;
}

.footer-nav-next-item:hover,
.footer-nav-next-item:focus {
	text-decoration: underline;
	text-underline-position: under;
}

.footer-nav-next-item:active {
	text-decoration: none;
	color: #d6b479;
}

.footer {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   font-size: 16px;
   line-height: 28px;

   background-color: #293449;
   color: #ffffff;
}

.footer-social li {
	list-style: none;
}

.social-button {
	color: #ffffff;
}

.footer-feedback, 
.footer-copyright {
	color: #ffd180;
}

.footer-feedback:hover,
.footer-feedback:focus {
	text-decoration: underline;
}

.footer-copyright:hover,
.footer-copyright:focus {
	text-decoration: underline;
}

.footer-feedback:active, 
.footer-copyright:active {
	text-decoration: none;
	color: #ee3643;
}

.write-letter label {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   font-size: 18px;
   line-height: 18px;
}

.letter-form input[type="text"],
.letter-form input[type="email"] {
	font-family: "Pt Sans", "Arial", sans-serif;
	font-style: normal;
	font-size: 13px;
	line-height: 18px;

	color: #a9a9a9;
}

.button-send-letter {
	border: 0;

	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   text-transform: uppercase;

   color: #ffffff;
   background-color: #ee3643;
}

.header-cart-box {
	background-color: #ee3643;
}

.user-office-name {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   font-size: 21px;
   line-height: 21px;

	background-color: #ffffff;
   color: #000000;
}

.user-office-name:active {
	opacity: 0.3;
}

.user-nav a {
	text-decoration: underline;

	color: #32425c;
}

.user-nav {
	color: #32425c;
}

.user-nav-item {
	list-style: none;
}

.user-orders:hover,
.user-orders:focus {
	color: #ee3643;
}

.user-private-office:hover,
.user-private-office:focus {
	color: #ee3643;
}

.user-orders:active,
.user-private-office:active {
	color: #32425c;
	opacity: 0.3;
}

.container-list li {
	list-style-type: none;
}

.container-list li:before {
	color: #c5c9d1;
	content: url(../img/icon-arrow-right-small.svg);
	padding-right: 10px;
}

.container-list a{
	font-family: "Pt Sans", "Arial", sans-serif;
	font-style: normal;
	font-size: 13px;
	line-height: 18px;

	color: #000000;
}

.main-title {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   text-transform: uppercase;
	font-size: 30px;
   line-height: 30px;

   background-color: #f2f6f8;
   color: #32425c;
}

.filter-heading {
	font-family: "Pt Sans", "Arial", sans-serif;
	font-style: normal;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 18px;

	background-color: #f7f3ec;
}

.filter-price {
	font-family: "Pt Sans", "Arial", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 17px;
	line-height: 30px;
}

.manufacturer-filter,
.power-filter {
	border: 0;
}

.manufacturer-legend,
.power-legend {
	font-family: "Pt Sans", "Arial", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 17px;
   line-height: 30px;
}

.manufacturer-list,
.power-list {
	font-family: "Pt Sans", "Arial", sans-serif;
	font-style: normal;
	font-size: 15px;
   line-height: 20px;
}

.power-list {
	list-style: none;
}

.button-filter-show {
	font-family: "Pt Sans", "Arial", sans-serif;
	font-style: normal;
	font-size: 13px;
   line-height: 18px;

   background-color: #ffffff;
   border: 1px solid #e5e5e5;
}

.button-filter-show:hover,
.button-filter-show:focus {
	border: 1px solid #bdc6ca;  
}

.button-filter-show:active {
	border: 1px solid #ee3643;
}

.catalog-nav {
	font-family: "Pt Sans", "Arial", sans-serif;
	font-style: normal;
	text-transform: uppercase;
	font-size: 13px;
   line-height: 18px;

   background-color: #f7f3ec;
}

.catalog-nav a{
	color: rgba(0, 0, 0, 0.3);
}

.catalog-nav-item {
	border-bottom: 1px dashed #ee3643 ;
}

.catalog-nav a:hover,
.catslog-nav a:focus {
	color: #000000;
}

.catalog-nav-item:hover,
.catalog-nav-item:focus {
	border-bottom: 1px solid #ee3643 ;
}

.catalog-nav a:active {
	color: #ee3643;
	border-bottom: none;

}

.catalog-list {
	font-family: "Pt Sans", "Arial", sans-serif;
	font-weight: bold;
	list-style: none;
}

.catalog-item h3 {
	font-size: 18px;
	line-height: 20px;
}

.catalog-item p,
.catalog-item del {
	font-size: 17px;
	line-height: 18px;

	color: #999999;
}

.catalog-price {
	font-size: 17px;
	line-height: 18px;

	background-color: #ee3643;
	color: #ffffff;
}

.button-catalog-buy {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   text-transform: uppercase;
	font-size: 14px;
   line-height: 18px;

   background-color: #63a63e;
   color: #ffffff;
}

.button-catalog-buy:hover,
.button-catalog-buy:focus {
	background-color: #5fbb2d;
}

.button-catalog-buy:active {
	background-color: #518534;
}

.button-catalog-bookmark {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   text-transform: uppercase;
	font-size: 14px;
   line-height: 18px;

   color: #32425c;

   border: 3px solid #63a63e;
}

.button-catalog-bookmark:hover,
.button-catalog-bookmark:focus {
	border-color: #32425c;
}

.button-catalog-bookmark:active {
	opacity: 0.3;
}

.pagination-list {
	font-family: "Pt Sans", "Arial", sans-serif;
	font-style: normal;
	text-transform: uppercase;
	font-size: 13px;
   line-height: 18px;
	
	list-style-type: none;
}

.pagination-list a {
	color: #000000;
	border: 1px solid #e5e5e5;
}

.pagination-list a:hover,
.pagination-list a:focus {
	border: 1px solid #bdc6ca;
}

.pagination-list a:active {
	border: 1px solid #ee3643;
}

.buy-product {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
}

.buy-product p {
	font-size: 30px;
	line-height: 30px;
}

.button-buy {
	background-color: #f1f1f1;
}

.product-order {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;

	color: #ffffff;
	background-color: #ee3643;
}

.continue-shopping {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	
	color: #000000;
	background-color: #ffffff;
}