body {
   margin: 0;
   padding: 0;

   font-family: "Cuprum", "Arial", sans-serif;
   font-size: 14px;
   line-height: 24px;
   font-weight: 400;
   color: #000000;

   background-color: #ffffff;
}	

a {
   text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
   font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;

   background-color: #f3f7f9;
	
   margin-bottom: 59px;
   padding-bottom: 60px;
}

.header-container {
   font-size: 17px;
   line-height: 18px;

   background-color: #293449;
   color: #ffffff;
	   
   margin-bottom: 46px;   
}

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
	
	display: flex;
	flex-wrap: wrap;
}

.header-logo-link {
	padding-top: 11px;
	padding-right: 57px;
	padding-bottom: 11px;
	padding-left: 55px;
	
	background-color: #ee3643;
}

.header-logo {
	color: #ffffff;
}

.header-logo-link:hover,
.header-logo-link:focus {
	background-color: #ca2c37;
}

.header-logo-link:active {
	background-color: #ba2732;
}

.header-search {
	
	padding-top: 12px;
	padding-left: 49px;

	position: relative;
}

.header-search::before {
	content: "";
	
}

.header-search:hover::before {
	opacity: 1;
}



.header-search input {
	background-color: #293449;
	border: 0;
}

.header-search {
	background-color: #293449;
	border: 0;
}

.header-search ::-webkit-input-placeholder {
	color:#ffffff;
}

.header-search ::-moz-placeholder {
	color:#ffffff;
}

.header-search :-moz-placeholder {
	color:#ffffff;
}

.header-search :-ms-input-placeholder {
	color:#ffffff;
}

.header-search input:active {
	background-color: #ffffff;
	color: #000000;
}

.header-search:active {
	background-color: #ffffff;
	
}

.header-search input:hover {
	background-color: #212a3a;
}

.header-search:hover {
	background-color: #212a3a;
}

.header-search input:focus {
	background-color: #ffffff;
}

.header-bookmark {
	color: #ffffff;
	
	margin-left: auto;
	
	padding-top: 13px;
	padding-right: 28px;
	padding-bottom: 12px;
	padding-left: 44px;
	text-align: center;
	border: 0;

	position: relative;
	
}

.header-bookmark::before {
	content: "";

	position: absolute;
	top: 13px;
	left: 17px;

	width: 14px;
	height: 16px;

	background-image: url("../img/icon-bookmark.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	
	opacity: 0.3;
}

.header-bookmark:hover::before {
	opacity: 1;
}

.header-bookmark:active::before {
	opacity: 0.6;
}

.header-bookmark:hover,
.header-bookmark:focus {
	background-color: #212a3a;
}

.header-bookmark:active {
	background-color: #161d29;
	color: rgba(255, 255, 255, 0.6);
}

.header-cart {
	color: #ffffff;
	
	padding-top: 13px;
	padding-right: 31px;
	padding-bottom: 12px;
	padding-left: 49px;
	text-align: center;
	border: 0;

	position: relative;
}

.header-cart::before {
	content: "";

	position: absolute;
	top: 13px;
	left: 18px;

	width: 15px;
	height: 15px;

	background-image: url("../img/icon-cart.svg");
	background-repeat: no-repeat;
	background-position: 0 0;

	opacity: 0.3;
}

.header-cart:hover::before {
	opacity: 1;
}

.header-cart:active::before {
	opacity: 0.6;
}

.header-cart:hover,
.header-cart:focus {
	background-color: #212a3a;
}

.header-cart:active {
	background-color: #161d29;
	color: rgba(255, 255, 255, 0.6);
}

.header-order {
	background-color: #63a63e;
	color: #ffffff;
	
	padding-top: 13px;
	padding-right: 22px;
	padding-bottom: 12px;
	padding-left: 20px;
	text-align: center;
	border: 0;
}

.header-order:hover,
.header-order:focus {
	background-color: #5fbb2d;
}

.header-order:active {
	background-color: #518534;
	color: rgba(255, 255, 255, 0.6);
}

.header-middle-container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
	margin-bottom: 40px;
	display: flex;
	
}

.header-title {
   font-family: "Cuprum", "Arial", sans-serif;
   font-style: italic;
   font-size: 16px;
   line-height: 23px;
  
   color: #ee3643;

   width: 204px;
	margin-top: 0;
	margin-right: 20px;
	margin-left: 45px;

}

.header-address {
   font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   font-size: 14px;
   line-height: 24px;


   color: #32425c;
	
	margin-top: 15px;
  	margin-right: 20px;
	margin-bottom: 0;
	margin-left: 41px;
	width: 270px;
	padding-top: 0;
	padding-right: 10px;
	padding-bottom: 0;
	padding-left: 10px;
}

.header-address-tel {
   font-size: 21px;
   line-height: 21px;
	
	width: 142px;
	padding-top: 9px;
	padding-right: 50px;
	padding-bottom: 8px;
	padding-left: 70px; 
	
	color: #ee3643;
   border: 3px solid #ffffff;

   position: relative;
}

.header-address-tel::before {
	content: "";

	position: absolute;
	top: 12px;
	left: 15px;

	width: 19px;
	height: 19px;

	background-image: url("../img/icon-phone.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.header-addres-street {
	margin-top: 10px;
}

.header-user-box {
	width: 301px;
	display: flex;
}

.user-login {
   font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   font-size: 21px;
   line-height: 21px;
	
	background-color: #ffffff;
   color: #000000;
	
	width: 46px;
	padding-top: 12px;
	padding-right: 21px;
   padding-bottom: 12px;
   padding-left: 48px;
   margin-right: 10px;
   margin-bottom: auto;
   position: relative;
}

.header-user-icon {
	position: absolute;
	top: 14px;
	left: 14px;
}

.user-login:hover .header-user-icon path,
.user-login:focus .header-user-icon path {
	fill: #32425c;
}

.user-login:hover,
.user-login:focus {
	color: #ee3643;
}

.user-registration:hover,
.user-registration:focus {
	color: #ee3643;
}

.user-login:active,
.user-registration:active {
	color: #000000;
	opacity: 0.3;
}

.user-registration {
   font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   font-size: 21px;
   line-height: 21px;
	
	background-color: #ffffff;
   color: #000000;

   width: 99px;
	padding-top: 12px;
	padding-right: 25px;
   padding-bottom: 12px;
   padding-left: 26px;
   margin-right: 10px;
   margin-bottom: auto;
}  

.user-office {
	display: flex;
	flex-direction: column;
}

.user-office-name {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   font-size: 21px;
   line-height: 21px;

	background-color: #ffffff;
   color: #000000;

   width: 299px;
	margin-left: 20px;
}

.user-nav {
	color: #32425c;

	width: 220px;
	display: flex;
	justify-content: space-around;
}

.user-office-name:active {
	opacity: 0.3;
}

.user-orders,
.user-private-office {
	text-decoration: underline;

	color: #32425c;
}


.user-nav-item {
	list-style: none;
}

.user-orders:hover,
.user-orders:focus {
	color: #ee3643;
}

.user-private-office:hover,
.user-private-office:focus {
	color: #ee3643;
}

.user-orders:active,
.user-private-office:active {
	color: #32425c;
	opacity: 0.3;
}

.header-nav {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   font-size: 17px;
   line-height: 17px;

   

   width: 940px;
	margin: 0 auto;
	padding: 0 10px;
	margin-bottom: 0;
}

.header-nav-site {
	list-style: none;
	display: flex;
	margin: auto;
	padding-left: 0;
	justify-content: space-around;
	background-color: #32425c;
	border-bottom: 5px solid #293449;

}

.header-nav-item {
	padding-top: 20px;
	padding-bottom: 20px;
	border: 0;
}
 
.header-nav-link {
	list-style: none;
	color: #ffffff;
	padding: 20px;
	padding-right: 33px;
	padding-bottom: 20px;
	padding-left: 33px;

	
	vertical-align: middle;

}

.header-nav-link:hover,
.header-nav-link:focus {
	background-color: #293449;
}

.header-nav-link:active {
	color: #a8abaf;
	background-color: #1d2739;
}

.main {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.container-list {
	font-family: "Pt Sans", "Arial", sans-serif;
	font-style: normal;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;

	color: #000000;

	width: 360px;
	display: flex;
}

.contaner-list-orderly {
	list-style: none;
}

.container-list .contaner-list-orderly:before {
	color: #c5c9d1;
	content: url(../img/icon-arrow-right-small.svg);
	padding-right: 10px;
}

.container-list-link {
	color: #000000;
}

.main {
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
}

.main-product-services {
	display: flex; 
}

.product-services-list {
	list-style: none;
	width: 620px;
	margin-top: 0;
	padding-left: 0px;
	display: flex;
	flex-wrap: wrap;
	margin-right: 10px;
}

.item-paint {
	margin-right: 20px;
	width: 300px;
	position: relative;
	background-color: #ffbf47;
	padding-bottom: 21px;
	margin-bottom: 20px;
	
	display: flex;
	flex-wrap: wrap;
}

.item-paint::after {
	content: "";
	
	position: absolute;
	top: 31px;
	right: 43px;

	width: 44px;
	height: 65px;

	background-image: url("../img/icon-tin-paint.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.item-tool {
	margin-left: 0px;
	
	background-color: #3bbce3;
	padding-bottom: 21px;
	margin-bottom: 20px;

	display: flex;
	flex-wrap: wrap;

	position: relative;
}

.item-tool::after {
	content: "";

	position: absolute;
	top: 33px;
	right: 38px;

	width: 75px;
	height: 61px;

	background-image: url("../img/icon-drill.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.box-product {
	width: 300px;
}

.product-services-list-next {
	list-style: none;
	
	padding-right: 0px;
	padding-left: 0px;
	display: flex;
	flex-direction: column;
	margin-top: 0;
	margin-left: 10px;
}

.box-product-slider {
	position: relative;
}

.product-services-slider {
	
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	
}

.product-slider-next {
	display: flex;
	flex-direction: column;
	
	width: 620px;
	height: 266px;
	
	background-image: url(../img/man-with-drill.jpg);
	background-color: #665343;
	background-repeat: no-repeat;
	background-size: contain;
}

.product-slider-first {
	display: flex;
	flex-direction: column;
	display: none;
	
	width: 620px;
	height: 266px;

	background-image: url(../img/man-with-hammer-drill.jpg);
	background-color: #665343;
	background-repeat: no-repeat;
	background-size: contain;
}

.product-slider-heading {
	font-family: "Cuprum", "Arial", sans-serif;
	font-weight: bold;
	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;

	color: #ffffff;

	margin: 0;
	padding-top: 27px;
	padding-left: 24px;
}

.product-slider-item {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   font-size: 18px;
   line-height: 24px;

   color: #ffffff;
	
	margin: 0;
   padding-top: 8px;
	padding-left: 24px;
}

.button-slider-catalog {
	display: block;
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   font-size: 18px;
   line-height: 24px;
	text-transform: uppercase;

   color: #ffffff;

	margin-top: 110px;
	margin-right: 400px;
	margin-bottom: 22px;
	margin-left: 25px;

	padding-top: 13px;
	padding-right: 45px;
	padding-bottom: 14px;
	padding-left: 49px;

	border-radius: 3px;
}

.button-slider-first,
.button-slider-second {
  	border: 0;
	outline: none;
	background-color: #ffffff;
}

.button-slider-back,
.button-slider-next {
	border: 0;
	outline: none;
	background-color: #ffffff;
}


.button-slider-back::before {
	content: "";

	position: absolute;
	top: 114px;
	left: 25px;

	width: 22px;
	height: 40px;

	background-image: url(../img/icon-left.svg);
	background-repeat: no-repeat;
	cursor: pointer;
}

.button-slider-next::before {
	content: "";

	position: absolute;
	top: 114px;
	right: 20px;

	width: 22px;
	height: 40px;

	background-image: url(../img/icon-right.svg);
	background-repeat: no-repeat;
	cursor: pointer;
}

.button-slider-first::before {
	content: "";

	position: absolute;
	top: 220px;
	left: 295px;

	width: 10px;
	height: 10px;

	border-radius: 50%;

	background-color: #ffffff;
	cursor: pointer;
}

.button-slider-second::before {
	content: "";

	position: absolute;
	top: 220px;
	left: 317px;

	width: 10px;
	height: 10px;

	border-radius: 50%;

	background-color: #ffffff;
	cursor: pointer;
}

.product-services-name {
	font-family: "Cuprum", "Arial", sans-serif;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;

	color: #ffffff;

	padding-top: 20px;
	padding-right: 165px;
	padding-bottom: 13px;
	padding-left: 22px;

	margin: 0;
}

.product-services-discounts {
	padding-top: 19px;
	padding-right: 160px;
	padding-bottom: 15px;
	padding-left: 22px;
}

.item-paint {
	
}

.item-tractor {
	background-color: #dc91d8;
	padding-bottom: 21px;
	margin-bottom: 20px;

	display: flex;
	flex-wrap: wrap;

	position: relative;
}

.item-tractor::after {
	content: "";

	position: absolute;
	top: 31px;
	right: 31px;

	width: 78px;
	height: 62px;

	background-image: url("../img/icon-tractor.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.item-cart {
	background-color: #8ed78f;
	padding-bottom: 21px;
	margin-bottom: 20px;

	display: flex;
	flex-wrap: wrap;

	position: relative;
}

.item-cart::after {
	content: "";

	position: absolute;
	top: 26px;
	right: 45px;

	width: 59px;
	height: 72px;

	background-image: url("../img/icon-cart-goods.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.item-car {
	background-color: #ffc047;
	padding-bottom: 21px;

	display: flex;
	flex-wrap: wrap;
	
	position: relative;
}

.item-car::after {
	content: "";

	position: absolute;
	top: 31px;
	right: 32px;

	width: 78px;
	height: 63px;

	background-image: url("../img/icon-car.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.button-product-services {
	display: block;
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   font-size: 14px;
   line-height: 18px;
	text-transform: uppercase;
   color: #ffffff;
   background-color: rgba(0, 0, 0, 0.1);
	
	margin-left: 25px;

   padding-top: 10px;
   padding-right: 24px;
   padding-bottom: 11px;
   padding-left: 25px;
	
	border-radius: 3px;

}

.button-product-services:hover,
.button-product-services:focus {
	background-color: rgba(0, 0, 0, 0.2);
}

.button-product-services:active {
	background-color: rgb(0, 0, 0, 0.3);
}

.button-slider-catalog {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
	font-size: 14px;
   line-height: 18px;
	
	color: #ffffff;
	background-color: #ee3643;
}

.button-slider-catalog:hover {
	background-color: #ca2c37;
}

.button-slider-catalog:active {
	background-color: #ba2732;
}

.popular-product {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.popular-product-box {
	background-color: #f9f5f0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 20px;

}

.popular-product-heading {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;

	color: #32425c;
	margin-top: 32px;
	margin-bottom: 34px;
	margin-left: 28px;
}

.button-popular-product {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   font-size: 13px;
	line-height: 24px;
	text-transform: uppercase;
	
	color: #ffffff;
	background-color: #ee3643;

	padding-top: 12px;
	padding-right: 55px;
	padding-bottom: 13px;
	padding-left: 54px;
	margin-right: 24px;
	margin-top: 25px;
	margin-bottom: 26px;
	border-radius: 3px;
}

.button-popular-product:hover,
.button-popular-product:focus {
	background-color: #ca2c37;
}

.button-popular-product:active {
	background-color: #ba2732;
}

.popular-manufacturer {
	display: flex;
	flex-direction: column;
}

.popular-manufacturer-box {
	background-color: #f9f5f0;
	display: flex;
	justify-content: space-between;
}

.popular-manufacturer-heading {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;

	color: #32425c;

	margin-top: 32px;
	margin-bottom: 34px;
	margin-left: 28px;
}

.manufacturer-list-name {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-left: 0;

}

.manufacturer-list {
	list-style: none;
}
 
.manufacturer-item {
	width: 220px;
	border: 1px solid #ebebeb;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}

.manufacturer-item:hover {
	box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5); 
}

.manufacturer-item:active {
	opacity: 0.3;
	box-shadow: 0 0 5px 5px rgba(41, 52, 73, 0.5);

	
}

.button-popular-manufacturer {
	font-family: "Cuprum", "Arial", sans-serif;
	font-style: normal;
   font-size: 13px;
	line-height: 24px;
	text-transform: uppercase;
	
	color: #ffffff;
	background-color: #ee3643;

	padding-top: 12px;
	padding-right: 55px;
	padding-bottom: 13px;
	padding-left: 54px;
	margin-right: 24px;
	margin-top: 25px;
	margin-bottom: 26px;
	border-radius: 3px;
}

.button-popular-manufacturer:hover,
.button-popular-manufacturer:focus {
	background-color: #ca2c37;
}

.button-popular-manufacturer:active {
	background-color: #ba2732;
}

.main-title {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   text-transform: uppercase;
	font-size: 30px;
   line-height: 30px;

   background-color: #f2f6f8;
   color: #32425c;
}

.catalog-big-box {
	
	display: flex;
	justify-content: space-between;

	margin-bottom: 52px;
}

.filter {
	width: 220px;
	padding-right: 10px;

}

.filter-ranger-box {
	width: 220px;
}

.filter-heading {
	font-family: "Pt Sans", "Arial", sans-serif;
	font-style: normal;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 18px;

	background-color: #f7f3ec;
}

.filter-price {
	font-family: "Pt Sans", "Arial", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 17px;
	line-height: 30px;
}

.manufacturer-filter {
	
	display: flex;
	flex-direction: column;
	padding-left: 0;
}

.power-filter {
	
	display: flex;
	flex-direction: column;
	padding-left: 0;
}

.manufacturer-filter,
.power-filter {
	border: 0;
}

.manufacturer-legend,
.power-legend {
	font-family: "Pt Sans", "Arial", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 17px;
   line-height: 30px;
}

.manufacturer-list,
.power-list {
	font-family: "Pt Sans", "Arial", sans-serif;
	font-style: normal;
	font-size: 15px;
   line-height: 20px;

   padding-left: 0;
}

.power-list {
	list-style: none;
}

.button-filter-show {
	font-family: "Pt Sans", "Arial", sans-serif;
	font-style: normal;
	font-size: 13px;
   line-height: 18px;

   background-color: #ffffff;
   border: 1px solid #e5e5e5;
}

.button-filter-show:hover,
.button-filter-show:focus {
	border: 1px solid #bdc6ca;  
}

.button-filter-show:active {
	border: 1px solid #ee3643;
}

.catalog {
	width: 700px;
	display: flex;
	flex-direction: column;
	padding-left: 10px;
	
}

.catalog-nav {
	font-family: "Pt Sans", "Arial", sans-serif;
	font-style: normal;
	text-transform: uppercase;
	font-size: 13px;
   line-height: 18px;
	margin-bottom: 20px;

   background-color: #f7f3ec;

   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
	
}

.catalog-nav-price {
	/*margin-left: auto;*/
}

.catalog-nav-item{
	color: rgba(0, 0, 0, 0.3);
	
}

.catalog-nav-up,
.catalog-nav-down {
	color: rgba(0, 0, 0, 0.3);
}

.catalog-nav-item {
	border-bottom: 1px dotted #ee3643 ;
}

.catalog-nav-item:hover,
.catalog-nav-item:focus {
	color: #000000;
}

.catalog-nav-up:hover,
.catalog-nav-up:focus {
	color: #000000;
}

.catalog-nav-down:hover,
.catalog-nav-down:focus {
	color: #000000;
}

.catalog-nav-item:hover,
.catalog-nav-item:focus {
	border-bottom: 1px solid #ee3643 ;
}

.catalog-nav-item:active {
	color: #ee3643;
	border-bottom: none;
}

.catalog-nav-up:active,
.catalog-nav-down:active {
	color: #ee3643;
}

.catalog-list {
	font-family: "Pt Sans", "Arial", sans-serif;
	font-weight: bold;
	list-style: none;

	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
	justify-content: space-between;
}

.catalog-item {
	position: relative;
	display: inline-block;
	width: 218px;
	margin-bottom: 20px;

	border: 1px solid #eaeaea;
	
	text-align: center;

	font-size: 16px;
}

.catalog-list {
	font-size: 0;
}

.catalog-item:hover {
	box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);  
}

.icon-new {
	position: absolute;
	top: -1px;
	right: -1px;

	width: 60px;
	height: 60px;

	text-indent: -1000px;
	overflow: hidden;
	z-index: 20;
	
	background-image: url(../img/new-flag.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	
}

.catalog-button-box {
	display: none;
}

.catalog-button-box  {
	position: absolute;
	top: 0;
	left: 0;

	width: 218px;
	height: 88px;
	padding: 40px 0;

	background-color: rgba(255, 255, 255, 0.9);
	z-index: 10;
}

.button-catalog-buy,
.button-catalog-bookmark {
	display: block;
	width: 129px;
	margin: 0 auto;
	margin-bottom: 7px;
	padding: 7px 0;

	background-color: #63a63e;
	border: 3px solid #63a63e;
	border-bottom-color: #367315;
	border-radius: 3px;

}

.catalog-item:hover .catalog-button-box {
	display: block;
}

.button-catalog-buy {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   text-transform: uppercase;
	font-size: 14px;
   line-height: 18px;
   text-decoration: none;

   background-color: #63a63e;
   color: #ffffff;
}

.button-catalog-buy:hover,
.button-catalog-buy:focus {
	background-color: #5fbb2d;
}

.button-catalog-buy:active {
	background-color: #518534;
}

.button-catalog-bookmark {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   text-transform: uppercase;
	font-size: 14px;
   line-height: 18px;

   color: #32425c;
	background-color: #ffffff;
   border: 3px solid #63a63e;
}

.button-catalog-bookmark:hover,
.button-catalog-bookmark:focus {
	border-color: #32425c;
}

.button-catalog-bookmark:active {
	opacity: 0.3;
}

.catalog-item .catalog-image {
	width: 218px;
	height: 170px;
}

.catalog-product-name {
	font-size: 18px;
	line-height: 20px;

	padding-top: 0;
	padding-right: 25px;
	padding-bottom: 0;
	padding-left: 25px;

	margin-top: 10px;
	margin-bottom: 15px;
}

.catalog-old-price {
	font-size: 17px;
	line-height: 18px;

	color: #999999;
	min-height: 20px;
	margin-top: 15px;
	margin-bottom: 10px;
}

.catalog-price {
	position: relative;
	width: 80px;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
	padding: 11px 30px;

	font-size: 17px;
	line-height: 18px;

	background-color: #ee3643;
	color: #ffffff;
	border-radius: 3px;
}

.catalog-price:after {
	content: "";

	position: absolute;
	top: 0px;
	right: -20px;


	width: 0;
	height: 0;

	border: 20px solid #ffffff;
	border-left-color: #ee3643;
}



.pagination-list {
	font-family: "Pt Sans", "Arial", sans-serif;
	font-style: normal;
	text-transform: uppercase;
	font-size: 13px;
   line-height: 18px;
	
	list-style-type: none;

	width: 284px;

	display: flex;
	justify-content: space-between;

	margin-left: 240px;
	margin-bottom: 60px;
}

.pagination-item {
	color: #000000;
	border: 1px solid #e5e5e5;
}

.pagination-item:hover,
.pagination-item:focus {
	border: 1px solid #bdc6ca;
}

.pagination-item:active {
	border: 1px solid #ee3643;
}

.aside-box {
	background-color: #f2f6f8;
	margin: 0 auto;
}

.aside {
	width: 940px;
	padding-top: 68px;
	padding-right: 10px;
	padding-bottom: 31px;
	padding-left: 10px;
	
	margin-left: auto;
	margin-right: auto;

	display: flex;
	flex-direction: column;
}

.aside-heading {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   font-size: 30px;
   line-height: 30px;
   text-transform: uppercase;
}

.aside-item {
	font-family: "Pt Sans", "Arial", sans-serif;
   font-style: normal;
   font-size: 13px;
   line-height: 24px;
}

.buy-product {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
}

.buy-product p {
	font-size: 30px;
	line-height: 30px;
}

.button-buy {
	background-color: #f1f1f1;
}

.product-order {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;

	color: #ffffff;
	background-color: #ee3643;
}

.continue-shopping {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	
	color: #000000;
	background-color: #ffffff;
}

.services {
	background-color: #f4f8fa;
}

.services-text {
	font-family: "Pt Sans", "Arial", sans-serif;
	font-style: normal;
	font-size: 13px;
	line-height: 24px;
}

.services-heading {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	
}

.sevices-delivery-title {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;

	color: #32425c;
}

.services-list,
.services-warranty-credit {
	list-style-type: none;
}

.services button {
	font-family: "Cuprum", "Arial", sans-serif;
	font-weight: bold;
	font-size: 21px;
	line-height: 30px;

	background-color: #32425c;
	color: #ffffff;

	border: 0;
}

.services button:hover,
.services button:focus {
	background-color: #293449;
	outline: none;
}

.services button:active {
	background-color: #ffffff;
	color: #32425c;
	outline: none;
}

.two-section {
	display: flex;
	justify-content: space-between;
	padding-top: 82px;
	padding-right: 10px;
	padding-bottom: 86px;
	padding-left: 10px;

}

.about-company {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   width: 535px;
}

.company-name {
	text-transform: uppercase;
	font-size: 30px;
   line-height: 30px;
   margin-bottom: 35px;
}

.about-company-item {
	font-family: "Pt Sans", "Arial", sans-serif;
	font-style: normal;
	font-size: 13px;
	line-height: 24px;

	
}

.about-company-first {
	margin-bottom: 24px;
}

.about-company-next {
	padding-right: 150px;
	margin-bottom: 24px;
}

.transport-companies {
	font-size: 18px;
	line-height: 20px;
	padding-left: 0;
	margin-bottom: 40px;
}

.transport-companies-item {
	list-style-type: none;
	margin-bottom: 24px;
}

.transport-companies-item:before {
	color: red;
	content: "—";
	padding-right: 11px;
}

.transport-companies-link {
	font-family: "Cuprum", "Arial", sans-serif;
	font-style: normal;
   font-size: 13px;
	line-height: 24px;
	text-transform: uppercase;
	
	color: #ffffff;
	background-color: #ee3643;

	padding-top: 11px;
	padding-right: 55px;
	padding-bottom: 12px;
	padding-left: 54px;
	margin-right: 24px;
	margin-top: 25px;
	margin-bottom: 26px;
	border-radius: 3px;
}

.contact {
	width: 300px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.contact-heading {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   text-transform: uppercase;
	font-size: 30px;
   line-height: 30px;

   margin-bottom: 35px;
}

.contact-item {
	font-family: "Pt Sans", "Arial", sans-serif;
	font-style: normal;
	font-size: 13px;
	line-height: 24px;
	
	padding-right: 120px;
	margin-top: 0;
	margin-bottom: 33px;

}

.map {
	margin-bottom: 40px;
}

.contact-letter {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
	text-transform: uppercase;
	font-size: 14px;
   line-height: 18px;
   
   color: #ffffff;
	background-color: #ee3643;

	padding-top: 10px;
	padding-right: 59px;
	padding-bottom: 10px;
	padding-left: 64px;
	border-radius: 3px;

}

.footer-nav {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;

   color: #ffffff;
   background-color: #32425c;

   border: 0;
}	

.footer-nav-container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.footer-div-one {
	width: 940px;
	margin: 0 auto;
	margin-bottom: 38px;
	padding: 0 10px;

	display: flex;
	justify-content: space-between;
}

.bottom-logo {
	/*width: 136px;*/
	padding-top: 19px;
	padding-right: 42px;
	padding-bottom: 19px;
	padding-left: 42px;

	background-color: #ee3643;
}

.footer-nav-first {
	width: 550px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 0;
}

.footer-nav-first,
.footer-nav-next {
	list-style: none;	
}

.footer-nav-first-link {
	font-size: 18px;
   line-height: 24px;

	color: #ffffff;
}


.footer-nav-first-item:hover,
.footer-nav-first-item:focus {
	text-decoration: underline;
	text-underline-position: under; 
}

.footer-nav-first-item:active {
	text-decoration: none;
	opacity: 0.3;
}

.bottom-div-two {
	 width: 940px;
	margin: 0 auto;
	padding: 0 10px;

	display: flex;
	justify-content: space-between;
}

.bottom-address {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   font-size: 18px;
   line-height: 24px;
   width: 335px;
}

.bottom-tel {
	color: #ffffff;
}

.footer-nav-next {
	display: flex;
	width: 540px;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 0;
	margin-bottom: 52px;
}

.footer-nav-next-link {
	font-size: 18px;
   line-height: 24px;

   color: #ffd180;
}

.footer-nav-next-item:hover,
.footer-nav-next-item:focus {
	text-decoration: underline;
	text-underline-position: under;
}

.footer-nav-next-item:active {
	text-decoration: none;
	opacity: 0.3;
}

.footer {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   font-size: 16px;
   line-height: 28px;

   background-color: #293449;
   color: #ffffff;
   margin: auto;
}

.footer-box {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
	display: flex;
}

.footer-protection-rights {
	width: 260px;
}

.footer-protection-text {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   font-size: 16px;
   line-height: 18px;
}

.footer-social {
	width: 133px;
	margin-left: 140px;
	margin-right: 150px;
}

.footer-feedback-box {
	width: 140px;
}

.footer-copyright-box {
	width: 130px;
	margin-left: 35px;
}

.social-list {
	list-style: none;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	width: 130px;
	margin-top: 16px;
	padding-left: 0;

	position: relative;
}

.social-item {
	display: block;

	border-radius: 50%;
	width: 42px;
	height: 42px;

	background-color: #212a3a;

	margin-right: auto;
}

.social-vk:before {
	content: "";

	position: absolute;
	top: 14px;
	left: 8px;

	width: 26px;
	height: 15px;

	background-image: url(../img/icon-vk.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.social-vk:hover,
.social-vk:focus {
	background-color: #ee3643;
}

.social-vk:active {
	background-color: #ee3643;
}

.social-fb:before {
	content: "";

	position: absolute;
	top: 10px;
	left: 58px;

	width: 12px;
	height: 22px;

	background-image: url(../img/icon-fb.svg);
	background-repeat: no-repeat;
	background-position: 0 0 ;
} 

.social-fb:hover,
.social-fb:focus {
	background-color: #ee3643;
}

.social-fb:active {
	background-color: #ee3643;
}

.social-insta:before {
	content: ""; 

	position: absolute;
	top: 11px;
	left: 99px;

	width: 21px;
	height: 21px;

	background-image: url(../img/icon-insta.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.social-insta:hover,
.social-insta:focus {
	background-color: #ee3643;
}

.social-insta:active {
	background-color: #ee3643;
}

.footer-feedback-text,
.footer-copyright-text {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   font-size: 16px;
   line-height: 18px;
}

.footer-feedback, 
.footer-copyright {
	color: #ffd180;
}

.footer-feedback:hover,
.footer-feedback:focus {
	text-decoration: underline;
}

.footer-copyright:hover,
.footer-copyright:focus {
	text-decoration: underline;
}

.footer-feedback:active, 
.footer-copyright:active {
	text-decoration: none;
	color: #ee3643;
}

.write-letter label {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   font-size: 18px;
   line-height: 18px;
}

.letter-form input[type="text"],
.letter-form input[type="email"] {
	font-family: "Pt Sans", "Arial", sans-serif;
	font-style: normal;
	font-size: 13px;
	line-height: 18px;

	color: #a9a9a9;
}

.button-send-letter {
	border: 0;

	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   text-transform: uppercase;

   color: #ffffff;
   background-color: #ee3643;
}

.header-cart-box {
	background-color: #ee3643;
}

.write-letter {
	position: fixed;
	top: 150px;
	left: 50%;
	width: 620px;
	color: #000000;

	background-color: #ffffff;
	margin-left: -380px;
	padding-top: 47px;
	padding-right: 80px;
	padding-bottom: 37px;
	padding-left: 80px;

	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.letter-form {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.write-name {
	width: 220px;
}

.write-name-input {
	width: 220px;
}

.letter-email {
	width: 220px;
}

.letter-email-input {
	width: 220px;
}

.letter-text {
	width: 460px;
}

.letter-textarea {
	width: 460px;
}


