body {
   margin: 0;
   padding: 0;

   font-family: "Cuprum", "Arial", sans-serif;
   font-size: 14px;
   line-height: 24px;
   font-weight: 400;
   color: #000000;

   background-color: #ffffff;
}	

a {
   text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
   font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;

   background-color: #f3f7f9;
	
   margin-bottom: 59px;
   padding-bottom: 60px;
}

.header-container {
   font-size: 17px;
   line-height: 18px;

   background-color: #293449;
   color: #ffffff;
	   
   margin-bottom: 46px;   
}

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
	
	display: flex;
}

.header-container-logo {
	padding-top: 13px;
	padding-right: 57px;
	padding-bottom: 11px;
	padding-left: 55px;
	
	background-color: #ee3643;
}

.header-logo {
	color: #ffffff;
}

.header-container-logo:hover,
.header-container-logo:focus {
	background-color: #ca2c37;
}

.header-container-logo:active {
	background-color: #ba2732;
}

.header-container-search {
	margin-left: 10px;
}

.header-search input[type="search"] {
	background-color: #293449;
	border: 0;
}

.header-search ::-webkit-input-placeholder {
	color:#ffffff;
}

.header-search ::-moz-placeholder {
	color:#ffffff;
}

.header-search :-moz-placeholder {
	color:#ffffff;
}

.header-search :-ms-input-placeholder {
	color:#ffffff;
}

.header-search input[type="search"]:active {
	background-color: #ffffff;
	color: #000000;
}

.header-search input[type="search"]:hover {
	background-color: #212a3a;
}

.header-search input:focus {
	background-color: #ffffff;
}

.header-container-wrapper {
	margin-left: auto;
	width: 470px;
	display: flex;
	justify-content: space-between;
}

.header-bookmark {
	color: #ffffff;
	
	width: 150px;
	padding-top: 13px;
	padding-right: 9px;
	padding-bottom: 12px;
	padding-left: 63px;
}

.header-bookmark:hover,
.header-bookmark:focus {
	background-color: #212a3a;
}

.header-bookmark:active {
	background-color: #161d29;
}

.header-cart {
	color: #ffffff;
	
	width: 150px;
	
}

.header-cart:hover,
.header-cart:focus {
	background-color: #212a3a;
}

.header-cart:active {
	background-color: #161d29;
}

.header-order {
	background-color: #63a63e;
	color: #ffffff;
	
	width: 150px;
}

.header-order:hover,
.header-order:focus {
	background-color: #5fbb2d;
}

.header-order:active {
	background-color: #518534;
}



.header-middle-container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
	margin-bottom: 40px;
	display: flex;
	
}

.header-title {
   font-family: "Cuprum", "Arial", sans-serif;
   font-style: italic;
   font-size: 16px;
   line-height: 23px;
  
   color: #ee3643;

   width: 204px;
	margin-top: 0;
	margin-right: 20px;
	
	margin-left: 45px;
}

.header-address {
   font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   font-size: 14px;
   line-height: 24px;

   color: #32425c;

  	margin-right: 20px;
	margin-bottom: 0;
	margin-left: 41px;
	width: 270px;
	padding-top: 0;
	padding-right: 10px;
	padding-bottom: 0;
	padding-left: 10px;
}

.header-address-tel {
   font-size: 21px;
   line-height: 21px;
	
	width: 142px;
	padding-top: 11px;
	padding-right: 50px;
	padding-bottom: 10px;
	padding-left: 70px; 
	
	color: #ee3643;
   border: 3px solid #ffffff;
}

.header-addres-street {
	margin-top: 10px;
}

.header-user-box {
	width: 301px;
	display: flex;
}

.user-login {
   font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   font-size: 21px;
   line-height: 21px;
	
	background-color: #ffffff;
   color: #000000;
	
	width: 46px;
	padding-top: 12px;
	padding-right: 21px;
   padding-bottom: 12px;
   padding-left: 48px;
   margin-right: 10px;
   margin-bottom: auto;
}

.user-login:hover,
.user-login:focus {
	color: #ee3643;
}

.user-registration:hover,
.user-registration:focus {
	color: #ee3643;
}

.user-login:active,
.user-registration:active {
	color: #000000;
	opacity: 0.3;
}

.user-registration {
   font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   font-size: 21px;
   line-height: 21px;
	
	background-color: #ffffff;
   color: #000000;

   width: 99px;
	padding-top: 12px;
	padding-right: 25px;
   padding-bottom: 12px;
   padding-left: 26px;
   margin-right: 10px;
   margin-bottom: auto;
}  

.user-office {
	display: flex;
	flex-direction: column;
}

.user-office-name {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   font-size: 21px;
   line-height: 21px;

	background-color: #ffffff;
   color: #000000;

   width: 299px;
	margin-left: 20px;
}

.user-nav {
	color: #32425c;

	width: 220px;
	display: flex;
	justify-content: space-around;
}

.user-office-name:active {
	opacity: 0.3;
}

.user-orders,
.user-private-office {
	text-decoration: underline;

	color: #32425c;
}

.user-nav-item {
	list-style: none;
}

.user-orders:hover,
.user-orders:focus {
	color: #ee3643;
}

.user-private-office:hover,
.user-private-office:focus {
	color: #ee3643;
}

.user-orders:active,
.user-private-office:active {
	color: #32425c;
	opacity: 0.3;
}

.header-nav {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   font-size: 17px;
   line-height: 17px;

   

   width: 940px;
	margin: 0 auto;
	padding: 0 10px;
	margin-bottom: 0;
}

.header-nav-site {
	list-style: none;
	display: flex;
	margin: auto;
	padding-left: 0;
	justify-content: space-around;
	background-color: #32425c;
}

.header-nav-item {
	padding-top: 20px;
	padding-bottom: 20px;
}
 
.header-nav-link {
	list-style: none;
	color: #ffffff;
}

.header-nav-link:hover,
.header-nav-link:focus {
	background-color: #293449;
}

.header-nav-link:active {
	color: #a8abaf;
	background-color: #1d2739;
}

.main {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.container-list {
	font-family: "Pt Sans", "Arial", sans-serif;
	font-style: normal;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;

	color: #000000;

	width: 360px;
	display: flex;
}

.contaner-list-orderly {
	list-style: none;
}

.container-list .contaner-list-orderly:before {
	color: #c5c9d1;
	content: url(../img/icon-arrow-right-small.svg);
	padding-right: 10px;
}

.container-list-link {
	color: #000000;
}

.main {
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
}

.main-product-services {
	display: flex; 
}

.product-services-list {
	list-style: none;
	width: 940px;
	margin-top: 0;
	padding-left: 0;
	display: flex;
	flex-wrap: wrap;
}

.item-paint {
	margin-right: 20px;
	width: 300px;
}

.item-tool {
	margin-right: 20px;
	width: 300px;
}

.box-product {
	width: 300px;
}

.product-services-list-next {
	list-style: none;
	padding-left: 0;
	display: flex;
	flex-direction: column;
	margin-top: 0;
}

.product-services-content {
	margin: 0 0;
}

.product-services-name {
	font-family: "Cuprum", "Arial", sans-serif;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;

	color: #ffffff;
}

.item-paint {
	background-color: #ffbf47;
	padding-bottom: 21px;
	margin-bottom: 20px;
}

.item-tool {
	background-color: #3bbce3;
	padding-bottom: 21px;
	margin-bottom: 20px;
}

.item-tractor {
	background-color: #dc91d8;
	padding-bottom: 21px;
	margin-bottom: 20px;
}

.item-cart {
	background-color: #8ed78f;
	padding-bottom: 21px;
	margin-bottom: 20px;
}

.item-car {
	background-color: #ffc047;
	padding-bottom: 21px;
	
}

.button-product-services {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   font-size: 14px;
   line-height: 18px;

   color: #ffffff;
   background-color: rgba(0, 0, 0, 0.1);
}

.button-product-services:hover,
.button-product-services:focus {
	background-color: rgba(0, 0, 0, 0.2);
}

.button-product-services:active {
	background-color: rgb(0, 0, 0, 0.3);
}

.button-slider-catalog {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
	font-size: 14px;
   line-height: 18px;
	
	color: #ffffff;
	background-color: #ee3643;
}

.button-slider-catalog:hover {
	background-color: #ca2c37;
}

.button-slider-catalog:active {
	background-color: #ba2732;
}

.popular-product {
	display: flex;
	flex-direction: column;
}

.popular-product-box {
	background-color: #f9f5f0;
	display: flex;
	justify-content: space-between;
}

.popular-product-heading {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;

	color: #32425c;
}

.button-popular-product {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   font-size: 13px;
	line-height: 24px;
	text-transform: uppercase;
	
	color: #ffffff;
	background-color: #ee3643;
}

.button-popular-product:hover
.button-popular-product:focus {
	background-color: #ca2c37;
}

.button-popular-product:active {
	background-color: #ba2732;
}

.popular-manufacturer {
	display: flex;
	flex-direction: column;
}

.popular-manufacturer-box {
	background-color: #f9f5f0;
	display: flex;
	justify-content: space-between;
}

.popular-manufacturer-heading {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;

	color: #32425c;
}

.manufacturer-list-name {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-left: 0;
}

.manufacturer-list {
	list-style: none;
}
 
.manufacturer-item {
	width: 220px;
	border: 1px solid #ebebeb;
}

.box-manufacturer-name {
	margin-bottom: 20px;
}

.button-popular-manufacturer {
	font-family: "Cuprum", "Arial", sans-serif;
	font-style: normal;
   font-size: 13px;
	line-height: 24px;
	text-transform: uppercase;
	
	color: #ffffff;
	background-color: #ee3643
}

.button-popular-manufacturer:hover,
.button-popular-manufacturer:focus {
	background-color: #ca2c37;
}

.button-popular-manufacturer:active {
	background-color: #ba2732;
}

.main-title {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   text-transform: uppercase;
	font-size: 30px;
   line-height: 30px;

   background-color: #f2f6f8;
   color: #32425c;
}

.catalog-big-box {
	
	display: flex;
	justify-content: space-between;

	margin-bottom: 52px;
}

.filter {
	width: 220px;
	padding-right: 10px;
}

.filter-ranger-box {
	width: 220px;
}

.filter-heading {
	font-family: "Pt Sans", "Arial", sans-serif;
	font-style: normal;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 18px;

	background-color: #f7f3ec;
}

.filter-price {
	font-family: "Pt Sans", "Arial", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 17px;
	line-height: 30px;
}

.manufacturer-filter {
	
	display: flex;
	flex-direction: column;
	padding-left: 0;
}

.power-filter {
	
	display: flex;
	flex-direction: column;
	padding-left: 0;
}

.manufacturer-filter,
.power-filter {
	border: 0;
}

.manufacturer-legend,
.power-legend {
	font-family: "Pt Sans", "Arial", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 17px;
   line-height: 30px;
}

.manufacturer-list,
.power-list {
	font-family: "Pt Sans", "Arial", sans-serif;
	font-style: normal;
	font-size: 15px;
   line-height: 20px;

   padding-left: 0;
}

.power-list {
	list-style: none;
}

.button-filter-show {
	font-family: "Pt Sans", "Arial", sans-serif;
	font-style: normal;
	font-size: 13px;
   line-height: 18px;

   background-color: #ffffff;
   border: 1px solid #e5e5e5;
}

.button-filter-show:hover,
.button-filter-show:focus {
	border: 1px solid #bdc6ca;  
}

.button-filter-show:active {
	border: 1px solid #ee3643;
}

.catalog {
	width: 700px;
	display: flex;
	flex-direction: column;
	padding-left: 10px;
}

.catalog-nav {
	font-family: "Pt Sans", "Arial", sans-serif;
	font-style: normal;
	text-transform: uppercase;
	font-size: 13px;
   line-height: 18px;

   background-color: #f7f3ec;
}

.catalog-list {
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
	justify-content: space-between;
}

.catalog-item {
	width: 220px;
	border: 1px solid #eaeaea;
}

.catalog-nav-item{
	color: rgba(0, 0, 0, 0.3);
}

.catalog-nav-up,
.catalog-nav-down {
	color: rgba(0, 0, 0, 0.3);
}

.catalog-nav-item {
	border-bottom: 1px dotted #ee3643 ;
}

.catalog-nav-item:hover,
.catalog-nav-item:focus {
	color: #000000;
}

.catalog-nav-up:hover,
.catalog-nav-up:focus {
	color: #000000;
}

.catalog-nav-down:hover,
.catalog-nav-down:focus {
	color: #000000;
}

.catalog-nav-item:hover,
.catalog-nav-item:focus {
	border-bottom: 1px solid #ee3643 ;
}

.catalog-nav-item:active {
	color: #ee3643;
	border-bottom: none;
}

.catalog-nav-up:active,
.catalog-nav-down:active {
	color: #ee3643;
}

.catalog-list {
	font-family: "Pt Sans", "Arial", sans-serif;
	font-weight: bold;
	list-style: none;
}

.catalog-product-name {
	font-size: 18px;
	line-height: 20px;
}

.catalog-old-price {
	font-size: 17px;
	line-height: 18px;

	color: #999999;
}

.catalog-price {
	font-size: 17px;
	line-height: 18px;

	background-color: #ee3643;
	color: #ffffff;
}

.button-catalog-buy {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   text-transform: uppercase;
	font-size: 14px;
   line-height: 18px;

   background-color: #63a63e;
   color: #ffffff;
}

.button-catalog-buy:hover,
.button-catalog-buy:focus {
	background-color: #5fbb2d;
}

.button-catalog-buy:active {
	background-color: #518534;
}

.button-catalog-bookmark {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   text-transform: uppercase;
	font-size: 14px;
   line-height: 18px;

   color: #32425c;

   border: 3px solid #63a63e;
}

.button-catalog-bookmark:hover,
.button-catalog-bookmark:focus {
	border-color: #32425c;
}

.button-catalog-bookmark:active {
	opacity: 0.3;
}

.pagination-list {
	font-family: "Pt Sans", "Arial", sans-serif;
	font-style: normal;
	text-transform: uppercase;
	font-size: 13px;
   line-height: 18px;
	
	list-style-type: none;

	width: 284px;

	display: flex;
	justify-content: space-between;

	margin-left: 240px;
	margin-bottom: 60px;
}

.pagination-item {
	color: #000000;
	border: 1px solid #e5e5e5;
}

.pagination-item:hover,
.pagination-item:focus {
	border: 1px solid #bdc6ca;
}

.pagination-item:active {
	border: 1px solid #ee3643;
}

.aside-box {
	background-color: #f2f6f8;
	margin: 0 auto;
}

.aside {
	width: 940px;
	padding-top: 68px;
	padding-right: 10px;
	padding-bottom: 31px;
	padding-left: 10px;
	
	margin-left: auto;
	margin-right: auto;

	display: flex;
	flex-direction: column;
}

.aside-heading {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   font-size: 30px;
   line-height: 30px;
   text-transform: uppercase;
}

.aside-item {
	font-family: "Pt Sans", "Arial", sans-serif;
   font-style: normal;
   font-size: 13px;
   line-height: 24px;
}

.buy-product {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
}

.buy-product p {
	font-size: 30px;
	line-height: 30px;
}

.button-buy {
	background-color: #f1f1f1;
}

.product-order {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;

	color: #ffffff;
	background-color: #ee3643;
}

.continue-shopping {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	
	color: #000000;
	background-color: #ffffff;
}

.services {
	background-color: #f4f8fa;
}

.services-text {
	font-family: "Pt Sans", "Arial", sans-serif;
	font-style: normal;
	font-size: 13px;
	line-height: 24px;
}

.services-heading {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	
}

.sevices-delivery-title {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;

	color: #32425c;
}

.services-list,
.services-warranty-credit {
	list-style-type: none;
}

.services button {
	font-family: "Cuprum", "Arial", sans-serif;
	font-weight: bold;
	font-size: 21px;
	line-height: 30px;

	background-color: #32425c;
	color: #ffffff;

	border: 0;
}

.services button:hover,
.services button:focus {
	background-color: #293449;
	outline: none;
}

.services button:active {
	background-color: #ffffff;
	color: #32425c;
	outline: none;
}

.two-section {
	display: flex;
	justify-content: space-between;
	padding-top: 82px;
	padding-right: 10px;
	padding-bottom: 86px;
	padding-left: 10px;

}

.about-company {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   width: 535px;
}

.company-name {
	text-transform: uppercase;
	font-size: 30px;
   line-height: 30px;
}

.about-company p {
	font-family: "Pt Sans", "Arial", sans-serif;
	font-style: normal;
	font-size: 13px;
	line-height: 24px;
}

.transport-companies {
	font-size: 18px;
	line-height: 20px;
}

.transport-companies li {
	list-style-type: none;
}

.transport-companies li:before {
	color: red;
	content: "—";
	padding-right: 11px;
}

.about-company a {
	text-transform: uppercase;
	font-size: 14px;
   line-height: 18px;
   
   color: #ffffff;
	background-color: #ee3643;
}

.contact {
	width: 301px;
}

.contact-heading {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   text-transform: uppercase;
	font-size: 30px;
   line-height: 30px;
}

.contact p {
	font-family: "Pt Sans", "Arial", sans-serif;
	font-style: normal;
	font-size: 13px;
	line-height: 24px;
}

.contact-letter {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
	text-transform: uppercase;
	font-size: 14px;
   line-height: 18px;
   
   color: #ffffff;
	background-color: #ee3643
}

.footer-nav {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;

   color: #ffffff;
   background-color: #32425c;

   border: 0;
}	

.footer-nav-container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.footer-div-one {
	 width: 940px;
	margin: 0 auto;
	padding: 0 10px;

	display: flex;
	justify-content: space-between;
}

.bottom-logo {
	width: 136px;
	padding-top: 21px;
	padding-right: 42px;
	padding-bottom: 21px;
	padding-left: 42px;
}

.footer-nav-first {
	width: 550px;
	display: flex;
	justify-content: space-between;
}

.footer-nav-first,
.footer-nav-next {
	list-style: none;	
}

.footer-nav-first a {
	font-size: 18px;
   line-height: 24px;

	color: #ffffff;
}

.footer-nav-first-item:hover,
.footer-nav-first-item:focus {
	text-decoration: underline;
	text-underline-position: under; 
}

.footer-nav-first-item:active {
	text-decoration: none;
	color: #929caa;
}

.bottom-div-two {
	 width: 940px;
	margin: 0 auto;
	padding: 0 10px;

	display: flex;
	justify-content: space-between;
}

.bottom-address {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   font-size: 18px;
   line-height: 24px;
   width: 335px;
}

.bottom-tel {
	color: #ffffff;
}

.footer-nav-next {
	display: flex;
	width: 540px;
	justify-content: space-between;
}

.footer-nav-next-link {
	font-size: 18px;
   line-height: 24px;

   color: #ffd180;
}

.footer-nav-next-item:hover,
.footer-nav-next-item:focus {
	text-decoration: underline;
	text-underline-position: under;
}

.footer-nav-next-item:active {
	text-decoration: none;
	color: #d6b479;
}

.footer {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   font-size: 16px;
   line-height: 28px;

   background-color: #293449;
   color: #ffffff;
   margin: auto;
}

.footer-box {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
	display: flex;
}

.footer-protection-rights {
	width: 260px;
}

.footer-social {
	width: 133px;
	margin-left: 140px;
	margin-right: 150px;
}

.footer-feedback-box {
	width: 140px;
}

.footer-copyright-box {
	width: 130px;
	margin-left: 35px;
}

.social-list {
	list-style: none;
	display: flex;
	justify-content: space-between;
}

.social-button {
	color: #ffffff;
}

.footer-feedback, 
.footer-copyright {
	color: #ffd180;
}

.footer-feedback:hover,
.footer-feedback:focus {
	text-decoration: underline;
}

.footer-copyright:hover,
.footer-copyright:focus {
	text-decoration: underline;
}

.footer-feedback:active, 
.footer-copyright:active {
	text-decoration: none;
	color: #ee3643;
}

.write-letter label {
	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   font-size: 18px;
   line-height: 18px;
}

.letter-form input[type="text"],
.letter-form input[type="email"] {
	font-family: "Pt Sans", "Arial", sans-serif;
	font-style: normal;
	font-size: 13px;
	line-height: 18px;

	color: #a9a9a9;
}

.button-send-letter {
	border: 0;

	font-family: "Cuprum", "Arial", sans-serif;
   font-style: normal;
   text-transform: uppercase;

   color: #ffffff;
   background-color: #ee3643;
}

.header-cart-box {
	background-color: #ee3643;
}







